language: python
python:
  - 3.6
# command to install dependencies
install:
 - pip install -r requirements.txt
 - pip install coveralls
# command to run tests
script:
  python tests/tests.py
after_success:
  coveralls

